header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 710px){
    body,.conteinerres,.divcopi{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #ingresobot{
        display: flex;
        flex-direction: row;
    }

    .resultado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #adver2{
        text-align: center;
    }

}

@media screen and (max-width: 480px) {

    body,.conteinerres,.divcopi{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

