body {
    background: #d8d4d48b;
}

#logo{
    width: 80px;
    height: 65px;
}

.subti{
    font-family:'Montserrat', sans-serif;;
    font-style: Montserrat;
    font-size: 20px;
    margin:0 0 10px 0;
}

.inputtxt{
    color: #131737;
    font-size:25px;
}

.aviso{
    margin: 5px 0 5px 0;
}

.txtingreso {
    border-radius: 25px;
    background: none;
    overflow: auto;
    padding: 10px;
    border:2px solid #5c5c78;
    width: 18rem;
    height: 20rem;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.196);
}

.advertencia {
    width:25px;
    height:25px;
    margin: 0px;
}

.txtadver {
    margin: 0px;
}

.botones {
    color: rgb(255 255 255);
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    margin: 8px 5px 8px 5px;
}

#boton_encrip{
    background:#181f39;
}

#boton_desencrip{
    background: none;
    color: #181f39;
    border: 2px solid #181f39;
}


.botones:hover {
    box-shadow: rgb(165, 162, 162) 5px 5px 0px;
}

/*aquí termina la configuracion de header*/

.resultado {
    background: none;
    border:2px solid #5c5c78;
    border-radius: 25px;
    overflow: auto;
    padding: 10px;
    font-size:25px;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.196);
}

.contenidoimg {
    width:250px;
    height: 0 auto;
}

.contenido {
    font-family:'Montserrat', sans-serif;;
    font-style: Montserrat;
    font-size: 20px;
    color:#131737;
}

.contenidocopi {
    display: none;
    background:#181f39;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
}

#Botoncopiar:hover{
    box-shadow: rgb(165, 162, 162) 5px 5px 0px;
}

footer {
    height: 50px;
}

.pieimage{
    width: 80px;
    height: 80px;
} 

.piedepage {
    color: black;
    font-style: oblique;
}

/*Aqui termina la Estilizacion*/
