body{
    background: linear-gradient( #E5E5E5, #121918);
}

.logo{
    width: 120px;
    height: 100px;
}

.inputtxt{
    position:relative;
    right: -200px;
    top: -90px;
}

.subti{
    position:relative;
    left:60px;
    font-style: italic;
    font-size: 32px;
    padding: 15px;
}

.txtingreso{
    border-radius: 25px;
    background: none;
}


section{
    position:relative;
    right:-280px;
    top:-95px;
}


.advertencia{
    position:relative;
    width: 22px;
    left:12px;
    bottom:-18px;
}


.txtadver{
    position:relative;
    left:40px;
    padding:0 0 15px 0;
}



.botones{
    background-color: #FFFFFF;
    color: #030303;
    padding:10px;
    font-size: 25px;
    border-radius: 20px;
    border: solid 1px #23998e;
}

.resultado{
        position:absolute;
        right:1%;
        top:1.2%;
        background: #FFFFFF;
        width: 420px;
        height: 630px;
        border-radius: 35px;
}

.contenidoimg{
    position:relative;
    left:80px;
    bottom:-120px;
    
}

.contenido{
    position:relative;
    text-align:center;
    bottom:-150px;
    font-size: 20px;
    color: #23998e;
}

.contenidocopi{
    display: none;
    position:absolute;
    bottom:1px;
    left:130px;
    background-color: none;
    width:200px;
    color: #23998e;
    padding:10px;
    font-size: 25px;
    border-radius: 20px;
    border: solid 1px #0000;
}


footer{
    background-size:1400px;
    padding:40px;
    font-size:50px;
}

.alumG5{
    position:absolute;
    right:470px;
    bottom:-290px;
}


.piedepage{
    display:inline-blockblock;
    position:relative;
    color:white;
    font-size: 17px;
    right:-46%;
    top:-40px;
    font-style:oblique;
}

.pieimage{
    position:relative;
    right:-625px;
    top:-25px;
    display:block;
    text-align:center;
    width: 100px;
} 