body{
    background: linear-gradient( #c7cac9, #0e3c4b);
}

.logo{
    width: 120px;
    height: 100px;
}

.inputtxt{
    position:relative;
    right: -200px;
    top: -90px;
    margin: 0 auto;
}

.subti{
    position:relative;
    left:60px;
    font-style: italic;
    font-size: 32px;
    padding: 15px;
}

.txtingreso{
    border-radius: 25px;
    background: none;
}


section{
    position:relative;
    right:-280px;
    top:-95px;
}


.advertencia{
    position:relative;
    width: 22px;
    left:12px;
    bottom:-18px;
}


.txtadver{
    position:relative;
    left:40px;
    padding:0 0 15px 0;
}

.botones{
    background-color: #FFFFFF;
    color: #030303;
    padding:10px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
}

.botones:hover{
    box-shadow:  5px 5px 0px #0a232b;
    }

.resultado{
    position:absolute;
    right:1%;
    top:1.2%;
    background: #FFFFFF;
    width: 420px;
    height: 630px;
    border-radius: 35px;
}

.contenidoimg{
    position:relative;
    left:80px;
    bottom:-120px;
    
}

.contenido{
    position:relative;
    text-align:center;
    bottom:-150px;
    font-size: 20px;
    color: #23998e;
}

.contenidocopi{
    display: none;
    position:absolute;
    bottom:1px;
    left:130px;
    background-color: none;
    width:200px;
    color: #23998e;
    padding:10px;
    font-size: 25px;
    border-radius: 20px;
    border: solid 1px #0000;
}


footer{
    padding:40px;
    font-size:50px;
    text-align:center;
}

.alumG5{
    position:relative;
    right:-13px;
    bottom:-100px;
}


.piedepage{
    position:relative;
    color:white;
    font-size: 16px;
    left:-68px;
    top:-55px;
    font-style:oblique;
}

.pieimage{
    position:relative;
    right:-65px;
    top:-75px;
    text-align:center;
    width: 80px;
}

@media screen and (max-width: 480px){

    .logo{
        position: relative;
        right: -165px;
    }

    .inputtxt{
        position:relative;
        left: 10px;
        top: -10px;
        width: 0 auto;
        height: 0 auto;

    }

    #ingresobot{
        position: relative;
        display: inline-block;
        left: 25%;
        top: 50%;
    }

    .resultado{
        position: relative;
        bottom: -30px;
        right: -30px;
        width: 0 auto;
        height: 0 auto;
    }

    footer{
        position: relative;
        margin: 50px 0 0 0;
        width: 0 auto;
        height: 0 auto;
        right: -70px;
    }

}